- **Author**: Kody Knight
- Major: Computer Science
- **Creation Date**: 04/4
- Due Date: 4/8
- Course CSC223
- Professor Name: Patrick Earl
- Assignment: Project 4
- Filename: Main.ipynb
- Purpose: To demonstraight jupyter notebook knowledge and DataFrame knowledge

In [17]:
#imports numpy and pandas
import numpy as np
import pandas as pd

In [18]:
# Creates dataframe from file
df = pd.read_csv('toycars.csv')

In [19]:
# deletes usless column
del df['Unnamed: 0']

In [20]:
# Head
df = df.head(df.size)

In [21]:
# creats Final dataframe (df)
df2 = pd.DataFrame()

In [22]:
# Pulls out the angles
Angle = []
for x in range(np.size(df,0)):
    if(x%3 == 0):
        Angle.append(df['angle'][x])
df2["Angle"] = Angle

In [23]:
# Pulls out the distance of car 1
Car_1 = []
for x in range(np.size(df,0)):
    if(df['car'][x] == 1):
        Car_1.append(float(df["distance"][x])*1000)
df2["Car 1"] = Car_1

In [24]:
# Pulls out the distance of car 2
Car_2 = []
for x in range(np.size(df,0)):
    if(df['car'][x] == 2):
        Car_2.append(float(df["distance"][x])*1000)
df2["Car 2"] = Car_2

In [25]:
# Pulls out the distance of car 3
Car_3 = []
for x in range(np.size(df,0)):
    if(df['car'][x] == 3):
        Car_3.append(float(df["distance"][x])*1000)
df2["Car 3"] = Car_3

In [26]:
# Calculates the mean
Mean = []
for x in range(9):
    total = 0
    total = float(df2["Car 1"][x]) + float(df2["Car 2"][x]) + float(df2["Car 3"][x])
    Mean.append(total/3)
df2["Mean"] = Mean

In [27]:
# Calculates Standard Deviation
Standard_Deviation = []
for x in range(np.size(df2,0)):
    SD = []
    SD.append(float(df2["Car 1"][x]))
    SD.append(float(df2["Car 2"][x]))
    SD.append(float(df2["Car 3"][x]))
    Standard_Deviation.append(np.std(SD))
df2["Standard Deviation"] = Standard_Deviation

In [29]:
# Organizes data by value
df2 = df2.sort_values('Angle')

In [30]:
#Sets index to Angle
df2.set_index("Angle")

        Car 1   Car 2  Car 3         Mean  Standard Deviation
Angle
0.9     270.0   380.0  150.0   266.666667           93.926685
1.1     290.0   430.0  170.0   296.666667          106.249183
1.3     430.0   370.0  270.0   356.666667           65.996633
2.2     580.0   700.0  540.0   606.666667           67.986927
2.7     580.0   640.0  550.0   590.000000           37.416574
3.1     630.0   690.0  600.0   640.000000           37.416574
3.6     700.0   890.0  660.0   750.000000          100.332780
4.0     840.0   920.0  690.0   816.666667           95.335664
4.9    1000.0  1300.0  950.0  1083.333333          154.560308